@import "tailwindcss";
/* dark mode config */
@custom-variant dark (&:where(.dark, .dark *));

/* all fonts */
@layer base {
    @font-face {
        font-family: "Dana";
        src: url("../docs/fonts/Dana/woff2/DanaFaNum-Regular.woff2") format("woff2");
        font-display: swap;
    }

    @font-face {
        font-family: "Dana Medium";
        src: url("../docs/fonts/Dana/woff2/DanaFaNum-Medium.woff2") format("woff2");
        font-display: swap;
    }

    @font-face {
        font-family: "Dana DemiBold";
        src: url("../docs/fonts/Dana/woff2/DanaFaNum-DemiBold.woff2") format("woff2");
        font-display: swap;
    }

    @font-face {
        font-family: "Morabba Light";
        src: url("../docs/fonts/Morabba/woff2/Morabba-Light.woff2") format("woff2");
        font-display: swap;
    }

    @font-face {
        font-family: "Morabba Medium";
        src: url("../docs/fonts/Morabba/woff2/Morabba-Medium.woff2") format("woff2");
        font-display: swap;
    }

    @font-face {
        font-family: "Morabba Bold";
        src: url("../docs/fonts/Morabba/woff2/Morabba-Bold.woff2") format("woff2");
        font-display: swap;
    }

}

/* all config of our projects */
@theme {
    /* customes color */
    --color-brown-100: #ECE0D1;
    --color-brown-300: #BDC1AC;
    --color-brown-600: #967259;
    --color-brown-900: #634832;

    /* customes box shadow */
    --shadow-normal: 0px 1px 10px rgba(0, 0, 0, .05);

    /* customes border Radius */
    --radius-4xl: 2rem;

    /* customes font familiy */
    --font-Dana: "Dana";
    --font-DanaMedium: "Dana Medium";
    --font-DanaDemiBold: "Dana DemiBold";
    --font-MorabbaLight: "Morabba Light";
    --font-MorabbaMedium: "Morabba Medium";
    --font-MorabbaBold: "Morabba Bold";

    /* customes latter spacing */
    --tracking-tightest: -0.065em;

    /* customes break points */
    --breakpoint-xs: 330px;
    --breakpoint-l: 992px;
}

/* customes container */
@utility container {
    @apply mx-auto px-4 lg:px-2.5 max-w-[1260px]
}

/* customes background image */
@layer utilities {
    .bg-home-mobile {
        background-image: url(../docs/images/headerBgMobile.webp);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .bg-home-desktop {
        background-image: url(../docs/images/headerBgDesktop.webp);
        background-repeat: no-repeat;
        background-size: cover;
    }

    .body-bg {
        background-image: url(../docs/images/body-bg.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
}

.offer {
    position: relative;
}

.offer::before {
    content: "";
    position: absolute;
    top: 42%;
    width: 100%;
    height: 1px;
    background: #EF4444;
}

.plus-creater {
    position: relative;
}

.plus-creater::before {
    content: "";
    position: absolute;
    width: 1px;
    height: 100%;
    background: #D1D5DB;
    right: 0;
    left: 0;
    margin: 0 auto;
}

.plus-creater::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background: #D1D5DB;
    top: 0;
    bottom: 0;
    margin: auto 0;
}

.dark .plus-creater::before,
.dark .plus-creater::after {
    background: #ffffff1a;
}

.alert {
    display: inline-block;
    position: relative;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-image: linear-gradient(90deg, #FDBA74, #FED7AA);
    display: flex;
    align-items: center;
    justify-content: center;
}

.alert::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    border: 1px solid #ffffff42;
}

.alert::after {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: 1px solid #ffffff19;
}

.for-now {
    line-height: 48px;
}

.footer-li-details li {
    position: relative;
    display: flex;
    align-items: center;
    transition: all ease-in-out .15s;
}

.footer-li-details li:hover{
    color: #FDBA74;
}
